@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-size: 62.8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #edffee;
}

.main-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-cadastro {
    font-size: 3rem;
    font-weight: 600;
    
}


.field-box div{
    margin: 1.9vh;
}

.field-box label{
    font-size: 1.8rem;
}

.field-box a{
    font-size: 1.3rem;
}





